.container{
     margin: 20vh ;
    background-color:cyan;
    width: 280px;
    height: 400px;
    border-radius: 50px;
     display: flex;  
    flex-wrap: wrap;
    justify-content: center; 
      transform: scale(1.2); 
} 

#current-time{
     text-align: center; 
    margin-top: 40px;
    margin-left: 0px;
    margin-bottom: -100px;
}

.create-alarm{
  text-align: center; 
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 60px;
}
#btn{
  padding: auto;
  margin-top: 10px;
}
#Alarms-list{
  margin-top: 0px;
}
img{
  height: 20px;
}
